NEXT_PUBLIC_LEAPA_WIDGET_SCRIPT=https://dev.widgets.leapa.co/customer.js
NEXT_PUBLIC_LEAPA_WIDGET_STYLES=https://dev.widgets.leapa.co/customer.css
NEXT_PUBLIC_LEAPA_API_KEY=eyJhbGciOiJIUzUxMiJ9.eyJtb2RlIjoidGVzdCIsImRlZmF1bHRBY2NvdW50QmFsYW5jZUlkIjoiYTE4YzlhMGRjOTNhNGZkOTljMjhlMDk0NWE2MDc4ZTYiLCJtZXJjaGFudENvdW50cnlDb2RlIjoiQkkiLCJtZXJjaGFudElkIjoiODRlMzA4Yzk3MDAwNGEzZTgyNzVhMDNiZDQxZmRjNDAiLCJpc01lcmNoYW50UmVwIjp0cnVlLCJyb2xlcyI6WyJST0xFX2FkbWluIl0sInRva2VuVHlwZSI6IkFQSSIsInVzZXJJZCI6IjAzMTA5NWRlMjA4NjQwOWJiZWFlZjU4NjRjZTUyMjhjIiwiYXVkaXRUcmFpbElkIjoiNjVBNjMzQzFBRjM5NEExRTg1QjM2MDFBMkE4RUUxMDYiLCJzdWIiOiJ0cmVzb3IraG9zcGl0YWxpdHlAbGVhcGEuY28iLCJpYXQiOjE3MTI1OTQ4MTB9.bioyzbiCvtsRrIzhhT2a90OZMnlv5ahHOEB03jh5SnfZJMjWQpcoJ0y4dF9g5MbU81_270uDlz9puU52A3RDiQLeap@Api$9
